<link  rel="stylesheet" href="/css/loginCss.css">
<div class="form-wrapper">
  <form action="#" method="post">
    <h3>Login here</h3>
      <div class="form-item">
  		  <input type="text" name="text" required="required" placeholder="Email" autofocus></input>
      </div>
      <div class="form-item">
  		  <input type="password" name="password" required="required" placeholder="Password"></input>
      </div>
      <div class="button-panel">
  		  <input type="submit" class="button" title="Log In" value="Login"></input>
      </div>
    <div id='wrapper'>
        <button class='social-btn facebook'><i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button class='social-btn gplus'><i class="fa fa-google-plus" aria-hidden="true"></i></button>
    </div>
  </form>
</div>