<link  rel="stylesheet" href="/css/projectCss.css">
<div id="wrapper" class="active">
  <div class="register-form" style ="overflow: scroll;">
    <div class="form-title">Create A Project</div>
        <div class="form-row">
            <input type="text" ng-model = "project.projectName" id="projectName" />
            <label for="projectName">Project Name</label>
        </div>
        <div class="form-row">
            <input type="text" ng-model = "project.projectDescription" id="projectDescription" />
            <label for="projectDescription">Project Description</label>
        </div>
        <div class="form-row">
            <label for="startDay">Start Date</label>
            <md-input-container>
                <md-datepicker name="startDay" ng-model="project.endDate" md-placeholder="Enter date"
                md-min-date="minDate" md-max-date="maxDate" ng-change ="dateChange()" required></md-datepicker>
            </md-input-container>
        </div>
        <div class="form-row">
            <label for="endDay">End Date</label>
            <md-input-container>
                <md-datepicker name="endDay" ng-model="project.startDate" md-placeholder="Enter date"
                md-min-date="minDate" md-max-date="maxDate" ng-change ="dateChange()" required></md-datepicker>
            </md-input-container>
        </div>
        <div class="form-row">
            <label for="selectedDev">Select Dev</label>
            <md-input-container>
                <label>Select Dev</label>
                <md-select ng-model="project.selectedDev"
                       md-on-close=""
                       data-md-container-class="selectdemoSelectHeader"
                       multiple>
                        <md-optgroup label="Select Dev">
                            <md-option ng-repeat=" dev in developerDataSource" ng-value="dev">{{dev.name}}</md-option>
                        </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <div class="form-row">
            <div layout="row" layout-align="space-between">
                <md-button class="md-fab" aria-label="Upload Logo">
                  <md-icon md-svg-src="images/icons/ic_insert_drive_file_24px.svg"></md-icon>
                  <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                    Upload Logo
                  </md-tooltip>
                </md-button>
                <md-button class="md-fab" aria-label="Upload Documents">
                  <md-icon md-svg-src="images/icons/ic_insert_drive_file_24px.svg"></md-icon>
                  <md-tooltip md-visible="demo.showTooltip" md-direction="{{demo.tipDirection}}">
                    Upload Documents
                  </md-tooltip>
                </md-button>
            </div>
        </div>
        <div class="form-button" ng-click= "createEditProject()">Create</div>
  </div>
</div>