 <md-toolbar class="">
      <div class="md-toolbar-tools">
        <h2>
          <span>Project Panel</span>
        </h2>
        <span flex></span>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              My Account
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="">
                  Logout
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </md-toolbar>
<md-content class="page-container">
  <md-button class="md-raised md-primary" ng-click="showAddEditProjectPopup($event);">Add Project</md-button>
    <md-content class="md-padding" layout-xs="row" layout="row">
      <div layout="row" flex="100">
              <md-card md-theme="dark-grey" md-theme-watch ng-repeat="project in projectDataSource" flex="20">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{project.projectName}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                      <img src="images/icons/ic_insert_drive_file_24px.svg">
                    </div>
                  </md-card-title-media>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised md-primary" ng-click="showAddEditProjectPopup($event, project._id);">Edit</md-button>
                </md-card-actions>
              </md-card>
        </div>
      </md-content>
</md-content>